.teste
{
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 5% 0% 4% 35%;
    background-color: rgb(152, 211, 238);
    border-radius: 10px;
}

.teste label
{
    margin-top: 10px;
}

.cadastro
{
    width: 400px;
    height: 500px;
    text-align: center;
    margin: 5% 0% 4% 35%;
    background-color: rgb(238, 232, 152);
    border-radius: 10px;
}

.cadastro label
{
    margin-top: 10px;
}

.background
{
    background-color: black;
}